/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.sub-body {
	min-height: calc(100vh - 50px);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-flex {
	display: flex !important;
}

.d-list-item {
	display: list-item !important;
}

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.sub-body {
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main {
	min-height: calc(100vh - 142px - 60px);
}

section {
	margin: 50px 0
}

h1 a {
	display: flex;
	flex-direction: column;
	color: #B1663C;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	text-decoration: none;
}

h1 > a > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li a {
	padding: 0 10px;
	color: #000;
	font-size: 1.2em;
	text-decoration: none;
}

nav li a:hover {
	font-weight: 700;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img,
#introduction .edit-figcaption {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters-list,.filters-list li {
	margin: 0;
	padding: 0;
}

.filters-list {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}
.filters-list li {
	list-style: none;
}

.btn-filter {
	height: 37px;
	margin: 0 5px;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #fff;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
}

.btn-filter:hover,
.btn-filter--active {
	background-color: #1D6154;
	color: #fff;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	width: 180px;
	margin: 2em auto;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

.error-msg {
	display: none;
	margin-top: 1rem;
	color: red;
}

.link-form {
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration-line: underline;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Bloc de publication */

.edit-mode {
	padding: 0 10px;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.edit-mode .fa-regular {
	color: #fff;
	font-size: 20px;
}

.edit-mode__label {
	margin: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.edit-mode__btn {
	margin: 10px;
	padding: 11.5px 22px;
	border: 0;
	border-radius: 17px;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.edit-mode__btn:hover {
	background-color: #eee;
}


/* Bloc d'édition */

#introduction .edit-figcaption {
	margin-top: 12px;
}

.title-projects {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-projects .edit-btn {
	margin-left: 30px;
}

.edit-btn {
	display: none;
	border: 0;
	background-color: transparent;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.edit-btn:hover {
	color: #1D6154;
}

.edit-btn .fa-regular {
	margin-right: 5px;
	font-size: 16px;
}


/* Liens du Header */

.item-logout {
	display: none;
}


/* MODALE */

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: rgba(0,0,0,.5);
}

.modal-wrapper {
	width: calc(100% - 40px);
	max-width: 630px;
	max-height: calc(100% - 40px);
	padding: 30px 30px 50px ;
	border-radius: 10px;
	background-color: #fff;
}

.modal-header {
	margin: 0 0 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.modal-header button {
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

#btn-prev {
	font-size: 22px;
}

#btn-close {
	font-size: 16px;
}

#btn-prev:hover,
#btn-close:hover {
	color: #A7A7A7;
}

.modal .modal-step {
	margin: 0 70px;
}

.modal h2 {
	margin: 0 0 40px;
	font-family: 'Work Sans';
	color: #000;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

.modal-picture-list {
	max-height: 294px;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.modal-picture-list li {
	position: relative;
	width: 20%;
	margin: 5px 0;
	padding: 6.26px;
	list-style: none;
	box-sizing: border-box;
}

@media only screen and (max-width: 550px) {
	.modal .modal-step {
		margin: 0;
	}

	.modal-picture-list li {
		width: 25%;
	}
}

@media only screen and (max-width: 320px) {
	.modal-picture-list li {
		width: 50%;
	}
}

.modal-picture {
	width: 100%;
	margin-bottom: 5px;
	display: block;
}

.modal-edit-btn {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: #000;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}

.modal-edit-btn:hover {
	color: #1D6154;
}

.modal-delete-btn {
	position: absolute;
	top: 13px;
	right: 13px;
	margin: 0;
	padding: 4px;
	border: 0;
	border-radius: 2px;
	background-color: #000;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
}

.modal-delete-btn:hover {
	background-color: red;
}

.modal-btn-group {
	margin: 37px 0 0;
	padding: 37px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 1px solid #B3B3B3;
}

.btn-send {
	height: 37px;
	margin: 0 5px;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #1D6154;
	color: #fff;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

.btn-send:hover,
.btn-send--active {
	background-color: #fff;
	color: #1D6154;
}

.btn-send:disabled,
.btn-send:disabled:hover {
	border-color: #A7A7A7;
	background-color: #A7A7A7;
	color: #fff;
	cursor: auto;
}

.btn-link {
	margin: 22px 0 0;
	padding: 0;
	align-self: center;
	border: 0;
	background-color: transparent;
	color: #D65353;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
}

.btn-link:hover {
	color: #000;
}

.label-file {
	padding: 28px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#input-file {
	width: 175px;
}
#input-file::-webkit-file-upload-button {
  visibility: hidden;
}
#input-file::before {
  content: '+ Ajouter photo';
	margin: 0;
	padding: 10px 33px;
  display: inline-block;
	border: 0;
	border-radius: 60px;
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
#input-file:hover::before {
  background-color: #B9C5CC;
}

.input-file-infos {
	padding: 7px 0 0;
	color: #444;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}

.fa-image {
	margin-bottom: 20px;
	color: #B9C5CC;
	font-size: 60px;
}

.figure-input-file {
	height: 183px;
	display: none;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.img-input-file {
	height: 100%;
}

.fieldset-top {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
}

.fieldset-bottom {
	margin: 14px 0 0;
	display: flex;
	flex-direction: column;
}

.label-input {
	margin: 20px 0 10px;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.input-text,
.select {
	padding: 17.5px 10px;
	border: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
